version: "2.2"
services:
    www:
        build: .
        ports: 
            - "8001:80"
            - "4430:443"
        volumes:
            - ./www:/var/www/
            - ./apache/sites-enabled:/etc/apache2/sites-enabled/
        links:
            - db
        networks:
            - default
    db:
        image: mysql:5.7
        ports: 
            - "3306:3306"
        environment:
            MYSQL_DATABASE: myDb
            MYSQL_USER: user
            MYSQL_PASSWORD: test
            MYSQL_ROOT_PASSWORD: test 
        volumes:
            - ./dump:/docker-entrypoint-initdb.d
            - persistent:/var/lib/mysql
        networks:
            - default
    phpmyadmin:
        image: phpmyadmin/phpmyadmin
        links: 
            - db:db
        ports:
            - 8000:80
        environment:
            MYSQL_USER: user
            MYSQL_PASSWORD: test
            MYSQL_ROOT_PASSWORD: test
    workspace:
        build: workspace
        volumes:
            - ./www:/var/www/
        links:
            - db
        networks:
            - default

    # like workspace but with ubuntu non-optimal base image
    # TODO: needs an entrypoint to keep service up
    phpspace:
        build: phpspace
        volumes:
            - ./www:/var/www/
        links:
            - db
        networks:
            - default
        cpu_count: 2
        cpu_percent: 50
        cpus: 1.5
        cpu_shares: 73
        ulimits:
            nproc: 65535
            nofile:
                soft: 20000
                hard: 40000
    selenium:
        build: selenium
        entrypoint: "/opt/bin/start-selenium-standalone.sh"
        networks:
            - default
        volumes:
            - /dev/shm:/dev/shm
        external_links:
            - www:fisherman.docker
volumes:
    persistent:
